
html {
   height: 100%;
   margin: 0px;
   padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p, ol, ul, li, footer { font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; }
h1      { font: bold 32px Georgia; }
h2      { font: bold 32px Georgia; } 
h3      { font: bold 24px Georgia; }
h4      { font: bold 18px Georgia; }
h5, li  { font: bold 16px Georgia; }
h6      { font: bold 14px Georgia; }

h1 {
  color: red;
}

header, nav, section, article, aside, footer, hgroup {
   display: block;
}

body { 
    font-family: arial, sans-serif;
    background-image: url("../images/space_background_image_6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.page-header {
   vertical-align: middle;
}

#top_header {
   width: 1550px;
   font-family: "Times New Roman", Times, serif;
   text-align: left;
   vertical-align: middle;
   font-size: bold 24px;
   font-style: italic;
   background-color: lightyellow;

   border: 2px solid blue;
   margin: 2px 2px 0px 2px;
   padding: 10px 20px 10px 20px;
}

.container {
  width: 90%;
  height: 100%;
  background: lightblue;
  margin: -10px 40px 0px 80px;
  padding: -5px 10px 10px 10px;
}

#website_Title{
  font-size: 5em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 15px;
  color: #191970;
}

/* Carousel Styling */
.slide1{
   background-image: url("../images/marvel_superheroes_photo1.jpg");
   height: 500px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.slide2{
   background-image: url("../images/marvel_superheroes_photo2.jpg");
   height: 500px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.slide3{
   background-image: url("../images/marvel_superheroes_photo3.jpg");
   height: 500px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.carousel-caption h1{
   font-size: 3em;
   font-family: 'Pacifico', cursive;
   padding-bottom: .4em;
}
.carousel-caption p{
   font-size: 2em;
}

#character_bio {
   float: right;
   font-style: bold;
   width: 100%;
   height: 500px;
   border: 3px solid red;
   background-color: #bfc0c1;
   margin: 0px 10px 10px 0px;
   padding: 20px;
}

#navBar1 {
   font: bold 18px Georgia;
   color: black;
   border: 1px solid red;
   margin: 0px 10px 10px 10px;
   padding: 0px 0px 0px 0px;
}

#userComm2 {
   font: bold 18px Georgia;
   color: midnightblue;
   border: 1px solid red;
   margin: 10px 20px 10px 20px;
   padding: 10px 0px 10px 10px;
}

#userComm3 {
   font: bold 18px Georgia;
   color: darkred;
   border: 1px solid red;
   margin: 10px 20px 10px 20px;
   padding: 10px 0px 10px 10px;
}

#userComm4 {
   font: bold 18px Georgia;
   color: black;
   border: 1px solid red;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 0px;
}

#image_gallery {
    text-align: center;
    width: 90%;
    border: 3px solid darkblue;
    font: bold 18px Georgia;
    color: darkblue; 
    margin: 10px 20px 10px 20px;
    padding: 0px 0px 10px 10px;
}

#the_footer {
   clear: both;
   text-align: center;
   color: black;
   background-color: lime;
   padding: 10px 10px;
   border-top: 3px solid green;
   border-bottom: 3px solid orange;
}

img.scaled:hover {
   -webkit-transform : scale(2);
   -transform : scale(2);
}
img.rotated:hover {
   -webkit-transform : rotate(90deg);
   -transform : rotate(90deg);
}
img.skewed:hover {
   -webkit-transform : skew(320deg, 0deg);
}

.modal-header {
  background-image: url(../images/hulkeyes2.jpg);
  height: 300px;
}

#modalComment {
  float: left;
  width: 400px;
  text-align: left;
}

.modal-footer {
  background-color: #80AF34;
}

.scroll {
  width: 290px;
  /*height: 410px;*/
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  /*overflow: auto;*/
}